page-login {

}
.bg-style{
    background-image: url("../../assets//imgs/background-image.png");
    background-repeat: no-repeat;
    background-size: auto 100%;
    background-position: center; 
}
.card-background-page {
    background: rgba(255, 255, 255, 0.6);
}
.card-title {
    opacity: 0.8;
}
.subtitle {
    width: 250px;
}