page-login {

   
}
.bg-style{
    // background-image: url("../../assets//imgs/background-image.png");
    // background-repeat: no-repeat;
    // background-size: auto 100%;
    // background-position: center; 
    background-color: #96071a;
}
.card-background-page {
    background: rgba(255, 255, 255, 0.5);
}
.card-title {
    background: rgba(255, 255, 255, 0.5);
}
.subtitle {
    width: 250px;
}