<ion-header text-center>

  <ion-navbar color="orange">
    <button ion-button color="" menuToggle end>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Yous Restaurant</ion-title>
  </ion-navbar>

</ion-header>


<ion-content>
  <div class="bg-img">
    <img src="../../assets/imgs/ZIGO.png">
  </div>

  <ion-grid no-padding fixed>
    <ion-row no-padding>
      <ion-col>
        <ion-card>
          <ion-card-content>
            <form [formGroup]="onYourRestaurantForm" class="list-form">
              <ion-list margin-bottom>
                <ion-item color="dark">+ Add Restaurant</ion-item>
                <ion-item>
                  <ion-label color="dark">Complement with my account/profile data:</ion-label>
                  <ion-checkbox formControlName="profiledata" color="dark"></ion-checkbox>
                </ion-item>
                <p ion-text color="danger" class="text-1x has-error" *ngIf="onYourRestaurantForm.get('profiledata').touched && onYourRestaurantForm.get('profiledata').hasError('required')">
                  This field is required
                </p>

                <ion-item>
                  <ion-label color="dark" stacked>Restaurant title:</ion-label>
                  <ion-input [(ngModel)]="restaurant.title" type="text" placeholder="Type here..." formControlName="restaurantTitle"></ion-input>
                </ion-item>
                <p ion-text color="danger" class="text-1x has-error" *ngIf="onYourRestaurantForm.get('restaurantTitle').touched && onYourRestaurantForm.get('restaurantTitle').hasError('required')">
                  This field is required
                </p>

                <ion-item>
                  <ion-label color="dark" stacked>Restaurant Address:</ion-label>
                  <ion-input [(ngModel)]="restaurant.address" type="text" placeholder="Type here..." formControlName="restaurantAddress"></ion-input>
                </ion-item>
                <p ion-text color="danger" class="text-1x has-error" *ngIf="onYourRestaurantForm.get('restaurantAddress').touched && onYourRestaurantForm.get('restaurantAddress').hasError('required')">This
                  field is required</p>

                <ion-item>
                  <ion-label color="dark" stacked>Restaurant Type:</ion-label>
                  <ion-select [(ngModel)]="restaurant.type" formControlName="restaurantType">
                    <ion-option value="Pasta">Pasta</ion-option>
                    <ion-option value="Pizza">Pizza</ion-option>
                    <ion-option value="Fast Food">Fast Food</ion-option>
                    <ion-option value="Street Food">Street Food</ion-option>
                    <ion-option value="Barbecue">Barbecue</ion-option>
                    <ion-option value="Oriental">Oriental</ion-option>
                    <ion-option value="Local Food">Local Food</ion-option>
                    <ion-option value="Variable">Variable</ion-option>
                  </ion-select>
                </ion-item>
              </ion-list>

              <div padding-vertical>
                <h5 ion-text color="dark" margin-bottom class="fw500">Add Images of Restaurant <span ion-text class="fw300">(Max.
                    5)</span></h5>
                <button ion-button icon-only color="light">
                  <ion-icon name="image" color="dark"></ion-icon>
                </button>
                <button ion-button icon-only color="light">
                  <ion-icon name="image" color="dark"></ion-icon>
                </button>
                <button ion-button icon-only color="light">
                  <ion-icon name="image" color="dark"></ion-icon>
                </button>
                <button ion-button icon-only color="light">
                  <ion-icon name="image" color="dark"></ion-icon>
                </button>
                <button ion-button icon-only color="light">
                  <ion-icon name="image" color="dark"></ion-icon>
                </button>
              </div>

              <button ion-button block color="orange1" (click)="addRestaurant(restaurant)" [disabled]="!onYourRestaurantForm.valid">
                <ion-icon name="cloud-upload"></ion-icon>
                &nbsp;
                + Restaurant
              </button>
              <br>
              <ion-item color="dark">Restaurant Add Dish</ion-item>

              <button ion-item detail-none no-margin *ngFor="let restaurant of restaurant$ | async" navPush="EditrestaurantPage" [navParams]="{restaurant: restaurant}">
                <ion-thumbnail item-start>
                  <img src="../../assets/imgs/F.png">
                </ion-thumbnail>
                <div text-capitalize>
                  <h2 ion-text color="dark" class="fw500">{{ (restaurantUid | async)?.title }}</h2>
                  <p class="text-12x" ion-text color="star">{{ (restaurantUid | async)?.type }}</p>
                  <p ion-text class="text-12"><span>1 km : 30-60min</span></p>
                </div>

                <button ion-button clear icon-left text-start item-right color="dark">
                  <span class="button-inner">
                    <ion-icon name="md-clipboard"></ion-icon>
                    Dish
                  </span>
                </button>
              </button>
            </form>
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>