page-menu {
    
}
ion-header ion-navbar{
    
}
.thumbnail{
    .secon{
        font-size: 14px;
        ion-icon{
            font-size: 16px;
        }
    }
}
.buttonf{
    text-align: inherit;
}
.text-11{
    font-size: 14px;
}

.vertical-align-content > *
{
    img {
        align-items: center;
    }
}
.full-width{
    width: 100% !important;
}
.fw700{
    font-weight: 700 !important;
}
ion-slide{
    display: block !important;
    align-items: center !important;
}